// COLORS
$color-primary: #e50914;
$color-primary-hover: #bf000a;
$color-light-primary: #d7d3f8;
$color-secondary: #6c757d;
$color-white: #ffffff;
$color-black: #000000;
$color-title-text: #23203c;
$color-body-text: #d1d0cf;
$color-body-bg: #141414;
$color-bg1: #191919;
$color-body-border: #393750;
$color-gold: #e6c75f;
$color-black: #000000;
$color-form-gradient-color: rgba(11, 1, 2, 0);
$color-to-gradient-color: rgba(255, 55, 65, 0.3);

// FONT
$default-font-size: 1rem;
$font-size-10: 0.625rem;
$font-size-12: 12px;
$font-size-13: 13px;
$font-size-14: 14px;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

$border-radius-base: 2px;
